<div class="specials">
    <div class="specials-image">
        <img src="../assets/menu2.jpg" alt="Specials Pizza Image">
        <div class="dark-overlay"></div>
        <div class="specials-text">Specials</div>
    </div>
    <div class="specials-menu">
        <ul>
            <li>
                <span class="item-name">HAWAII</span>
                <span class="item-description">Pineapple, mushrooms, black olives, tomato sauce</span>
                <span class="item-price">$10.99</span>
            </li>
            <li>
                <span class="item-name">CALZONE</span>
                <span class="item-description">Cup fresh ricotta, parmesan, chopped basil, pepper, tomato sauce, fresh mozzarella</span>
                <span class="item-price">$7.99</span>
            </li>
            <li>
                <span class="item-name">NEAPOLITAN</span>
                <span class="item-description">Fresh tomatoes, garlic, red onion, cheese, minced meat, dandelion, olives</span>
                <span class="item-price">$7.99</span>
            </li>
            <li>
                <span class="item-name">FRESHNESS</span>
                <span class="item-description">Pepperoni, cheese, black olives, tomato sauce, mushrooms, meat, onion, salad</span>
                <span class="item-price">$12.99</span>
            </li>
            <li>
                <span class="item-name">MARGHERITA</span>
                <span class="item-description">Pepperoni, cheese, black olives, tomato sauce, mushrooms, onion</span>
                <span class="item-price">$10.99</span>
            </li>
        </ul>
    </div>
</div>
