<section class="story-section">
    <div class="story-content container">
      <div class="story-image">
        <img src="../assets/about2.webp" alt="Pizza making">
      </div>
      <div class="story-text">
        <h2>Our Story</h2>
        <p>Ut nec hinc dolor possim. Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut nec hinc dolor possim.</p>
        <p>Mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut nec hinc dolor possim. Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei.</p>
        <p>Sea summo mazim ex, ea errem eleifend definitionem vim.</p>
      </div>
    </div>
  </section>
  