<section class="gallery-section">
    <div class="gallery-container">
      <div class="gallery-item">
        <img src="../assets/about3.webp" alt="Pizza 1">
      </div>
      <div class="gallery-item">
        <img src="../assets/about4.webp" alt="Pizza 2">
      </div>
      <div class="gallery-item">
        <img src="../assets/about5.webp" alt="Pizza 3">
      </div>
      <div class="gallery-item">
        <img src="../assets/about6.webp" alt="Pizza 4">
      </div>
    </div>
  </section>
  