.gallery-section {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between images */
    justify-content: center;
    margin-bottom: 80px;
  }
  
  .gallery-item {
    flex: 1 1 calc(25% - 20px); /* Four images in a row with space between them */
    max-width: calc(25% - 20px);
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  

  .gallery-item:hover img {
    transform: translateY(-10px); /* Move image slightly upward on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More prominent shadow on hover */
  }


  @media (max-width: 1200px) {
    .gallery-item {
      flex: 1 1 calc(33.333% - 20px); /* Three images per row */
      max-width: calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 992px) {
    .gallery-item {
      flex: 1 1 calc(50% - 20px); /* Two images per row */
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .gallery-item {
      flex: 1 1 100%; /* One image per row */
      max-width: 100%;
    }
  }
  