<div class="specials">
    <div class="specials-image">
        <img src="../assets/menu3.jpg" alt="Specials Pizza Image">
        <div class="dark-overlay"></div>
        <div class="specials-text">Pizza Slice</div>
    </div>
    <div class="specials-menu">
        <ul>
            <li>
                <span class="item-name">FROM SEA</span>
                <span class="item-description">Olive, meta, squid, shrimps, fresh mushrooms, fresh red tomatoes, chees</span>
                <span class="item-price">$10.99</span>
            </li>
            <li>
                <span class="item-name">CLASSIC</span>
                <span class="item-description">Pepperoni, cheese, black olives, tomatoe sauce, mushrooms, meat, onion, salad</span>
                <span class="item-price">$7.99</span>
            </li>
            <li>
                <span class="item-name">FARMER</span>
                <span class="item-description">Fresh mushrooms, fresh green bell peppers, tomatoes, black olives, meat, sausages</span>
                <span class="item-price">$12.99</span>
            </li>
            <li>
                <span class="item-name">MEXICAN</span>
                <span class="item-description">Pepperoni, cheese, black olives, tomato sauce, mushrooms, meat, onion, salad</span>
                <span class="item-price">$10.99</span>
            </li>
            <li>
                <span class="item-name">ITALIAN</span>
                <span class="item-description">Refried beans, red enchilada sauce, blend cheese, nacho, corn, onion, salsa, chorizo</span>
                <span class="item-price">$6.99</span>
            </li>
        </ul>
    </div>
</div>
