<div class="menu-container">
    <div class="menu-item">
        <img src="../assets/pizza2.png" alt="Hawai Pizza">
        <div class="menu-details">
            <h2>HAWAI</h2>
            <p>Pineapple, mushrooms, black olives, tomato sauce</p>
            <div class="prices">
                <span>SMALL <br> <span class="p">$7.99</span></span>
                <span>MEDIUM <br> <span class="p">$12.99</span></span>
                <span>LARGE <br> <span class="p">$16.99</span></span>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <img src="../assets/pizza3.jpg" alt="Margherita Pizza">
        <div class="menu-details">
            <h2>MARGHERITA</h2>
            <p>Pineapple, mushrooms, black olives, tomato sauce</p>
            <div class="prices">
                <span>SMALL <br> <span class="p">$7.99</span></span>
                <span>MEDIUM <br> <span class="p">$12.99</span></span>
                <span>LARGE <br> <span class="p">$16.99</span></span>
            </div>
        </div>
    </div>
</div>