<div class="hero">
    <h1 class="hero-heading1">WE ARE OPEN 24/7, AND YOU ARE WELCOME HERE.</h1>
    <h6 class="hero-heading2">PIZZA OUTLET</h6>
    <img src="../assets/blog1.jpg" alt="Header Image">
    <div class="banner">
        <span class="date">June 22, 2024</span>
        <span class="author">Admin</span>
        <span class="comments">5 Comments</span>
    </div>
    <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris non leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra, nec cursus lacus commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris non leo posuere, convallis ligula sit amet, ornare sem.</p>
    <p class="p2">Curabitur suscipit erat sit amet erat viverra, nec cursus lacus commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a luctus justo. Nulla sed iaculis ipsum. Mauris non leo posuere, convallis ligula sit amet, ornare sem. Curabitur suscipit erat sit amet erat viverra, nec cursus lacus commodo.</p>
    <button class="custom-button">READ MORE</button>
    <div class="line"></div>
</div>