<section class="master-chef-section container">
    <div class="content">
      <h2>Our Master Chef</h2>
      <p>
        Ut nec hinc dolor possim. Ea mei nostrum imperdiet deterruisset, mei ludus
        efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut
        nec hinc dolor possim.
      </p>
      <p>
        Mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend
        definitionem vim. Ut nec hinc dolor possim. Ea mei nostrum imperdiet
        deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem
        eleifend definitionem vim.
      </p>
      <a routerLink="/menu" class="menu-button">Discover Our Menu</a>
    </div>
    <div class="image-container">
      <img src="../assets/about7.webp" alt="Master Chef">
    </div>
  </section>
  