<div class="specials">
    <div class="specials-image">
        <img src="../assets/menu4.jpg" alt="Specials Pizza Image">
        <div class="dark-overlay"></div>
        <div class="specials-text">Pizza Rolls</div>
    </div>
    <div class="specials-menu">
        <ul>
            <li>
                <span class="item-name">TUNA, CHEESE, ONION, CORN</span>
                <span class="item-description">Big portion 6 pieces</span>
                <span class="item-price">$6.99</span>
            </li>
            <li>
                <span class="item-name">TUNA, CHEESE, ONION, CORN</span>
                <span class="item-description">Big portion 3 pieces</span>
                <span class="item-price">$4.99</span>
            </li>
            <li>
                <span class="item-name">CHEESE, HAM</span>
                <span class="item-description">Big portion 6 pieces</span>
                <span class="item-price">$12.99</span>
            </li>
            <li>
                <span class="item-name">CHEESE, HAM</span>
                <span class="item-description">Big portion 3 pieces</span>
                <span class="item-price">$5.99</span>
            </li>
            <li>
                <span class="item-name">SALAMI, CHEESE</span>
                <span class="item-description">Big portion 6 pieces</span>
                <span class="item-price">$10.99</span>
            </li>
            <li>
                <span class="item-name">SALAMI, CHEESE</span>
                <span class="item-description">Big portion 3 pieces</span>
                <span class="item-price">$5.99</span>
            </li>
        </ul>
    </div>
</div>
