.footer {
    background-color: #222; /* Dark background for footer */
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-logo {
    font-family: 'Brush Script MT', cursive; /* Example font family */
    font-size: 12vw;
    margin: 0;
}

.footer-contact {
    margin: 10px 0;
    font-size: 1rem;
    color: #888888;
    margin-bottom: 5vh;
}
.footer-copyright {
    margin-top: 20px;
    font-size: 0.875rem;
    color: #888888;
    margin-bottom: 5vh;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-logo {
        font-size: 2rem;
    }

    .footer-contact {
        font-size: 0.875rem;
    }

    .footer-copyright {
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        font-size: 1.75rem;
    }

    .footer-contact {
        font-size: 0.75rem;
    }

    .footer-copyright {
        font-size: 0.625rem;
    }
}
